<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Leon Lin Test</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <!-- A4W -->
      <li nz-submenu nzOpen nzTitle="Arxan Web Protect" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/invocation">Invocation</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/multiIns">Multiple Instances</a>
          </li>
        </ul>
      </li>
      <!-- A4W Guard -->
      <li nz-submenu nzOpen nzTitle="Arxan Guard" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/inAppFirewall">In-App Firewall</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/checksum">Checksum</a>
          </li>

          <!-- <li nz-menu-item nzMatchRouter>
            <a routerLink="/hookDetection">Hook Detection</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/scriptVerification">Script Verification</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/subResourceIntegrity">SubResource Integrity</a>
          </li> -->
        </ul>
      </li>
      
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content" style="overflow: auto">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
